<!-- 
    Apttus Approvals Management
    NextLevelApprover
     
    @2010-2011 Apttus Inc. All rights reserved.

 -->
<apex:page standardController="Apttus_Approval__Approval_Matrix__c"
		extensions="Apttus_Approval.NextLevelApproverController">
		
	<apex:form >
	
		<apex:outputText value="{!Apttus_Approval__Approval_Matrix__c.Apttus_Approval__User__c}" rendered="false"/>
		<apex:outputText value="{!Apttus_Approval__Approval_Matrix__c.Apttus_Approval__Matrix_Owner__c}" rendered="false"/>
		<apex:outputText value="{!Apttus_Approval__Approval_Matrix__c.Apttus_Approval__Approval_Level__c}" rendered="false"/>
		<apex:outputText value="{!Apttus_Approval__Approval_Matrix__c.Apttus_Approval__Next_Level_Approver__c}" rendered="false"/>
		<apex:outputText value="{!Apttus_Approval__Approval_Matrix__c.Next_Level_Approver__r.Name}" rendered="false"/>
	
		<apex:pageBlock title="{!$Label.apttus_approval__changenextlevelapprover}" mode="edit">

			<apex:pageMessages />

			<apex:pageBlockButtons >
				<apex:commandButton action="{!doSave}" value="{!$Label.apttus_approval__save}" disabled="{!hasErrors}"/>
				<apex:commandButton action="{!doCancel}" value="{!$Label.apttus_approval__cancel}" immediate="true"/>
			</apex:pageBlockButtons>

			<apex:pageBlockSection title="{!$Label.apttus_approval__details}" columns="1" rendered="{!hasErrors == false}">
				
    			<apex:outputField value="{!Apttus_Approval__Approval_Matrix__c.Apttus_Approval__User__c}"/>
    			<apex:outputField value="{!Apttus_Approval__Approval_Matrix__c.Apttus_Approval__Next_Level_Approver__c}"/>
    			
    			<apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.apttus_approval__approver}" for="idNextLevelUser" />
                    <apex:outputpanel >
                    	<apex:inputText id="idNextLevelUser" value="{!nextApproverName}" />
                            <apex:commandLink action="{!doLaunchUserSearch}"  >
                                <apex:outputPanel >
                                    <img src="/img/s.gif" class="lookupIcon"/>
                                </apex:outputPanel>
                            </apex:commandLink>
                    </apex:outputpanel>
                </apex:pageBlockSectionItem>
    			
			</apex:pageBlockSection>
			
		</apex:pageBlock>
		
	</apex:form>

</apex:page>