<!-- 
    Apttus Config & Pricing
    FlowSettings
     
    @2014-2015 Apttus Inc. All rights reserved.

 -->
<apex:page controller="Apttus_Config2.FlowSettingsController" 
           standardStylesheets="true"
           setup="true"
           tabStyle="Apttus_Config2__ConfigFlow__c" >	
    
    <apex:stylesheet value="{!$Resource.Apttus_Config2__ConfigStyles}" />
    
    <style type="text/css">
    
		textarea {
			width: 40%;
		}
		
	</style>
	
	<apex:sectionHeader title="{!$Label.apttus_config2__customsettings}" 
						subtitle="{!$ObjectType.Apttus_Config2__ConfigFlow__c.Label & ' ' & $Label.apttus_config2__edit}" />
											
	<apex:form id="idFlowSO">
		
		<apex:pageBlock id="idFlowBlock" 
						mode="edit" >
			<apex:pageMessages />
			<apex:pageBlockButtons location="top">
				<apex:commandButton value="{!$Label.apttus_config2__save}" 
									action="{!doSave}" />
				<apex:commandButton value="{!$Label.apttus_config2__cancel}" 
									action="{!doCancel}" />				
				<apex:commandButton value="{!$Label.apttus_config2__done}" 
									action="{!doExit}" 
									immediate="true" />
			</apex:pageBlockButtons>
		    
			<apex:pageBlockSection id="idFlowSection" 
		    					   title="{!$Label.apttus_config2__flowsettings}" 
		    					   columns="1" 
		    					   collapsible="false" >
				
				<apex:inputField value="{!FlowInfo.flowSO.Name}" />
				<apex:inputField value="{!FlowInfo.flowSO.Apttus_Config2__AssetsPage__c}" style="width:400px" />
				<apex:inputField value="{!FlowInfo.flowSO.Apttus_Config2__CartPage__c}" style="width:400px" />
				<apex:inputField value="{!FlowInfo.flowSO.Apttus_Config2__CatalogPage__c}" style="width:400px" />
				<apex:inputField value="{!FlowInfo.flowSO.Apttus_Config2__OptionsPage__c}" style="width:400px" />
				<apex:inputField value="{!FlowInfo.flowSO.Apttus_Config2__ProductAttributeDetailPage__c}" style="width:400px" />
				
		    </apex:pageBlockSection>
	    	
	    	<apex:pageBlockSection id="idFlowListSection" 
		    					   columns="1" 
		    					   collapsible="false" >
		    					  
		    	<apex:pageBlockTable value="{!FlowSettings}" 
		    	 					 var="settings" 
		    	 					 rowClasses="oddRow,evenRow" 
		    	 					 rendered="{!HasFlowSettings}">
		        	
		        	<apex:column value="{!settings.flowSO.Name}" />
					<apex:column value="{!settings.flowSO.Apttus_Config2__AssetsPage__c}" />
					<apex:column value="{!settings.flowSO.Apttus_Config2__CartPage__c}" />
					<apex:column value="{!settings.flowSO.Apttus_Config2__CatalogPage__c}" />
					<apex:column value="{!settings.flowSO.Apttus_Config2__OptionsPage__c}" />
					<apex:column value="{!settings.flowSO.Apttus_Config2__ProductAttributeDetailPage__c}" />
					
					<apex:column >
						<apex:facet name="header">{!$Label.apttus_config2__actions}</apex:facet>
						<apex:PanelGrid columns="2" >
							<apex:commandLink action="{!doEditFlow}" 
											  reRender="idFlowBlock" 
											  immediate="true">
								<apex:param name="index" 
											value="{!settings.FlowIndex}" />
								<apex:image url="{!$Resource.Apttus_Config2__Image_Configure}" 
		                       				title="{!$Label.apttus_config2__edit}" 
		                       				alt="{!$Label.apttus_config2__edit}" />   
							</apex:commandLink>	
							<apex:commandLink action="{!doDeleteFlow}" 
											  reRender="idFlowBlock" 
											  immediate="true" onclick="if(!confirm('Are you sure you want to delete the Flow?')){return false;}">
								<apex:param name="index" 
											value="{!settings.FlowIndex}" />
								<apex:image url="{!$Resource.Apttus_Config2__Image_Remove}" 
		                       				title="{!$Label.apttus_config2__remove}" 
		                       				alt="{!$Label.apttus_config2__remove}" />   
							</apex:commandLink>		
						</apex:PanelGrid>
					</apex:column>	
					
		        </apex:pageBlockTable>
		       	<apex:outputText value="{!$Label.apttus_config2__noflowstodisplay}" 
		       					 rendered="{!NOT(HasFlowSettings)}" />
		       	 					   
		   	</apex:pageBlockSection>
		</apex:pageBlock>
	
	</apex:form>

</apex:page>