<!-- 
    Apttus Config & Pricing
    ProductAttributeDetail
     
    @2010-2013 Apttus Inc. All rights reserved. 

 -->
<apex:page standardController="Apttus_Config2__LineItem__c" 
           extensions="Apttus_Config2.ProductAttributeDetailController2"  
           showHeader="{!ShowHeader}" 
           tabStyle="Product2">   
     
    <apex:stylesheet value="{!$Resource.Apttus_Config2__ConfigStyles}" />
    <apex:stylesheet value="{!URLFOR($Resource.Apttus_Config2__YUILibrary, '/yui/build/assets/skins/sam/skin.css')}" />
    
    <apex:includescript value="{!URLFOR($Resource.Apttus_Config2__YUILibrary, '/yui/build/yahoo-dom-event/yahoo-dom-event.js')}" />
    <apex:includescript value="{!URLFOR($Resource.Apttus_Config2__YUILibrary, '/yui/build/dragdrop/dragdrop-min.js')}" />
    <apex:includescript value="{!URLFOR($Resource.Apttus_Config2__YUILibrary, '/yui/build/container/container-min.js')}" />
    <apex:includescript value="{!URLFOR($Resource.Apttus_Config2__YUILibrary, '/yui/build/animation/animation-min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.Apttus_Config2__JQueryUILibrary19, 'js/jquery-1.8.3.min.js')}"/>
  	<apex:includeScript value="{!URLFOR($Resource.Apttus_Config2__JQueryUILibrary19, 'js/jquery-ui-1.9.2.custom.min.js')}"/>
    <apex:includeScript value="{!$Resource.Apttus_Config2__CPQJSLibrary}"/>
    
    <style>
        textarea {
            width: 40%;
        }
        
    </style>
    
    <apex:include pageName="Apttus_Config2__ConfigJSLibInclude" />
    
    <!-- 
    <apex:includeScript value="{!$Resource.ConfigPromptJSLib}"/>
    <apex:includeScript value="{!$Resource.ConfigSelectJSLib}"/>
     -->
    <script type="text/javascript">
        //set the title and progress bar icon
        var aptLoadingPageHeader = "{!JSINHTMLENCODE($Label.LoadingPage)}";
        var aptRuleAlertHeader = "{!JSINHTMLENCODE($Label.ConstraintRuleAlert)}";
        var aptDialogBody = '<center><img src="{!URLFOR($Resource.Image_LoadingPage)}" /></center>';
        
        YAHOO.namespace("force.com");
        // detail panel
        YAHOO.force.com.globalCtx = new Object();
        YAHOO.force.com.clsNodes = new Array();
        YAHOO.force.com.selectedNode = new Object();
        
        document.onkeydown = aptIgnoreEnterKey;  
        function keydown(event) {
            var keyCode; 
            if (event && event.which) { 
                // Use for Firefox and Chrome 
                keyCode = event.which; 

            } else { 
                // Use for IE 
                keyCode = event.keyCode;

            }
            if (keyCode == 13) {
                return false;
            }
            return true;
        }       
        //for IE load the script into DOM
        function loadJSFile(filename){
            var fileref = document.createElement('script');
            if (typeof fileref != "undefined"){
                fileref.setAttribute("type","text/javascript");
                fileref.setAttribute("src", filename);
                document.getElementsByTagName("head")[0].appendChild(fileref);
            }
        }
        //load the JavaScript file. This is necessary for IE
        loadJSFile("{!$Resource.ConfigPromptJSLib}");
        //loadJSFile("{!$Resource.ConfigSelectJSLib}");
        
    </script>
    
    <apex:form id="idLineItemSO" >
        <table style="width: 100%; background-color: #F7F7F7;" width="100%">
            <tr>
                <td>
                <table width="100%">
                    <tr style="background-color: #FFFFFF;">
                        <td><apex:outputPanel style="text-align: left;" layout="block">
                            <apex:panelGrid columns="1">
                                <apex:panelGroup >
                                    <apex:outputText value="{!fromBizType}:"
                                                     style="text-transform:uppercase;font-weight:bold;color:#5487B9" />
                                    &nbsp;
                                    <apex:outputField value="{!ConfigSO[BOLookupFieldName]}" 
                                                      rendered="{!ShowBOLookupField}" />
                                                      
                                    <apex:outputText value="{!fromBizTitle}"
                                                     style="font-weight:bold;color:#5487B9;" 
                                                     rendered="{!ShowBOTitle}" />
                                    
                                </apex:panelGroup>
                            </apex:panelGrid>
                        </apex:outputPanel></td>
                        <td> 
                        <apex:outputPanel style="text-align: right;" layout="block">
                            <apex:image url="{!$Resource.Apttus_Config2__Apttus_Logo}" title="" alt="" />
                        </apex:outputPanel></td>
                    </tr>
                </table>
                </td>
            </tr>
            <tr>
                <td>
                <table width="100%">
                    <tr>
                        <td>
                            <apex:outputPanel id="idTopNavStage"
                                              style="text-align: left;" 
                                              layout="block">

                                <apex:panelGrid columns="1" style="line-height:80%">

                                    <apex:panelGroup >

                                        <apex:outputText value="{!$Label.apttus_config2__step}"
                                                         style="font-weight:bold;font-size:90%" />

                                        &nbsp;&nbsp;
                                        <apex:outputText value="{!$Label.apttus_config2__stageselect}"
                                                         styleClass="aptsConfigStage" />
            
                                        &nbsp;&nbsp;
                                        <apex:image url="{!$Resource.Apttus_Config2__Chevron}" title="" alt="" />
                                        &nbsp;&nbsp;
                        

                                        <apex:outputText value="{!$Label.apttus_config2__stageconfigure}"
                                                         styleClass="aptsCurrentConfigStage" />
            
                                        &nbsp;&nbsp;
                                        <apex:image url="{!$Resource.Apttus_Config2__Chevron}" title="" alt="" />
                                        &nbsp;&nbsp;
            
                                        <apex:outputText value="{!$Label.apttus_config2__stageprice}"
                                                         styleClass="aptsConfigStage" />


                                        &nbsp;&nbsp;
                                        <apex:image url="{!$Resource.Apttus_Config2__Chevron}" title="" alt="" />
                                        &nbsp;&nbsp;

                                        <apex:outputText value="{!$Label.apttus_config2__stagefinalize}"
                                                         styleClass="aptsConfigStage"  />
            
                                        <b><apex:actionStatus id="idStatusSelect" 
                                                              startText="{!$Label.apttus_config2__statusmessageupdatingpage}..." /></b>
                                                              
                                    </apex:panelGroup>

                                </apex:panelGrid>

                            </apex:outputPanel>
                        </td>
                        
                        <td>
                            <apex:outputPanel id="idTopNavActions" 
                                              style="text-align: right;"
                                              layout="block" >
                                <apex:commandButton value="{!$Label.apttus_config2__abandon}"
                                                    action="{!doAbandon}" 
                                                    immediate="true"
                                                    style="background-color:#657383;background-image:none;color:white;"/>
                                &nbsp;
                                &nbsp;
                                <apex:image url="{!$Resource.Apttus_Config2__Cart}" 
                                            title="{!$Label.apttus_config2__cart}"
                                            alt="{!$Label.apttus_config2__cart}" />
                                <apex:commandLink value="{!$Label.apttus_config2__myselections}"
                                                  action="{!doViewCart}" 
                                                  style="color:blue;font-weight:bold" 
                                                  reRender="idErrorMsg, idRulesBlock"
                                                  />
                                &nbsp;
                                <apex:outputText value="({!cartSummaryInfo})" />
                                &nbsp;
                            </apex:outputPanel>
        
                        </td>
                    </tr>
                </table>
                </td>
            </tr>
        </table>
        <table width="100%"><tr>
        <td width="80%" valign="top">
<!-- Start Product Attribute Detail -->     
        <apex:pageBlock id="idProductAttributeDetailBlock"  >
            <apex:outputPanel id="idErrorMsg">
                <apex:pageMessages />
                <c:RuleMessageDisplay id="idRuleMessageComponent" configId="{!ConfigurationId}" ContextLineNumber="{!ContextLineNumber}" hasChoice="{!RuleResult.isEmpty == false}"/>   
            </apex:outputPanel>
            
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="{!$Label.apttus_config2__removeitem}" 
                                    onclick="YAHOO.force.com.showRemoveConfirmation('{!LineItemSO.Apttus_Config2__LineNumber__c}');return false;"/>
                <apex:commandButton value="{!$Label.apttus_config2__addmoreproducts}" 
                                    action="{!doProductSelection}" 
                                    rendered="true" />
                                    <!-- rendered="{!isCallerSelectionPage}" /> -->
                <apex:commandButton value="{!$Label.apttus_config2__backtopricing}" 
                                    action="{!doViewCart}"
                                    onclick="onActionClick();" 
                                    oncomplete="onActionComplete();"
                                    reRender="idErrorMsg, idRulesBlock, idSelectedProductsBlock" 
                                    rendered="{!isCallerViewCartPage && hasOptionGroups && NOT(IsBypassShoppingCart)}" />
                <apex:commandButton value="{!$Label.apttus_config2__next}" 
                                    action="{!doConfigureOptions}" 
                                    onclick="onActionClick();" 
                                    oncomplete="onActionComplete();"
                                    reRender="idErrorMsg, idRulesBlock, idSelectedProductsBlock" 
                                    rendered="{!hasOptionGroups}" />
                <apex:commandButton value="{!$Label.apttus_config2__gotopricing}" 
                                    action="{!doUpdateCart}" 
                                    onclick="onActionClick();" 
                                    oncomplete="onActionComplete();"
                                    reRender="idErrorMsg, idRulesBlock, idSelectedProductsBlock" 
                                    rendered="{!AND(NOT(hasOptionGroups), NOT(IsBypassShoppingCart))}" />
            </apex:pageBlockButtons>
                
            <apex:outputPanel >
                <apex:panelGrid columns="3">    
                    <apex:outputText style="font-weight:bold;color:#5487B9;text-transform:uppercase"
                                     value="{!$Label.apttus_config2__specifydetailsfor}" />
                    &nbsp;               
                    <apex:outputText style="font-weight:bold;color:#5487B9;" 
                                     value="{!lineItemSO.ProductId__r.Name}" />
                </apex:panelGrid>       
            </apex:outputPanel>    
            <apex:outputPanel >
                <apex:pageBlockSection id="idProductAttributeDetailSection" 
                                       title="{!$Label.apttus_config2__detail}"  
                                       columns="1" 
                                       collapsible="false" 
                                       rendered="{!ShowDetailSection}" >
                    
                  <!--  Begin Line Item Detail  -->
                    <apex:outputField value="{!lineItemSO.Apttus_Config2__ProductId__c}" />
                    <apex:inputField styleClass="aptQuantity" value="{!lineItemSO.Apttus_Config2__Quantity__c}" />
                    
                    <apex:inputField value="{!lineItemSO.Apttus_Config2__StartDate__c}"
                                     rendered="{!(lineItemSO.PriceType__c == PriceTypeRecurring) ||
                                                 (lineItemSO.PriceType__c == PriceTypeUsage) ||
                                                 (lineItemSO.PriceType__c == PriceTypeIncludedUsage)}" />
                    
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="{!$Label.apttus_config2__term}" 
                                          for="idSellingTerm" />
                        <apex:inputField styleClass="aptTerm" id="idSellingTerm" value="{!lineItemSO.Apttus_Config2__SellingTerm__c}" />
                    </apex:pageBlockSectionItem>
                    
                    <apex:inputField value="{!lineItemSO.Apttus_Config2__EndDate__c}"
                                     rendered="{!(lineItemSO.PriceType__c == PriceTypeRecurring) ||
                                                 (lineItemSO.PriceType__c == PriceTypeUsage) ||
                                                 (lineItemSO.PriceType__c == PriceTypeIncludedUsage)}" />
                    
                    <apex:pageBlockSectionItem rendered="{!(lineItemSO.PriceType__c == PriceTypeRecurring) ||
                                                           (lineItemSO.PriceType__c == PriceTypeUsage) ||
                                                           (lineItemSO.PriceType__c == PriceTypeIncludedUsage)}" >
                        <apex:outputLabel value="{!$Label.apttus_config2__frequency}" 
                                          for="idSellingFrequency" />
                        <apex:inputField id="idSellingFrequency" value="{!lineItemSO.Apttus_Config2__SellingFrequency__c}" />
                    </apex:pageBlockSectionItem>
                    
                    <apex:pageBlockSectionItem rendered="{!(lineItemSO.PriceType__c != PriceTypeRecurring) &&
                                                           (lineItemSO.PriceType__c != PriceTypeUsage) &&
                                                           (lineItemSO.PriceType__c != PriceTypeIncludedUsage)}" >
                        <apex:outputLabel value="{!$Label.apttus_config2__frequency}" 
                                          for="idSellingFrequency2" />
                        <apex:outputField id="idSellingFrequency2" value="{!lineItemSO.Apttus_Config2__SellingFrequency__c}" />
                    </apex:pageBlockSectionItem>

                  <!--  End Line Item Detail  -->
                    
                </apex:pageBlockSection>
                <script>
                  j$.APTTUS.formatFields("{!currencyFieldPrecision}", "{!percentageFieldPrecision}", "{!quantityFieldPrecision}");
                </script>
            </apex:outputPanel> 


            <!--  Start Attribute Groups -->
            <apex:repeat value="{!AttributeGroups}" var="grp" id="idAttributeGroups" >  
                
                <apex:pageBlockSection columns="{!IF(grp.twoColumnDisplay, '2', '1')}" 
                                       collapsible="true" 
                                       title="{!grp.groupName}">                        
                    <!-- attribute value fields -->
                   <apex:repeat value="{!grp.productAtributes}" var="f">
                        <apex:outputField rendered="{!(f.Apttus_Config2__IsReadOnly__c && NOT(f.Apttus_Config2__IsHidden__c))}" value="{!attributeValueSO[f.Apttus_Config2__Field__c]}" />
                        <apex:inputField rendered="{!(NOT(f.Apttus_Config2__IsReadOnly__c) && NOT(f.Apttus_Config2__IsHidden__c))}" value="{!attributeValueSO[f.Apttus_Config2__Field__c]}" />
                   </apex:repeat>      
                </apex:pageBlockSection>
            </apex:repeat>
            <!--  End Attribute Groups  --> 
        </apex:pageBlock>
<!-- End Product Attribute Detail -->       
        </td>
        <td width="20%" valign="top">
<!-- Start Shopping Cart -->
        <apex:pageBlock id="idSelectedProductsBlock">
<!-- Start Shopping Cart -->
                            <apex:pageBlockSection id="idSelectedProductsBlock"
                                                    columns="1" 
                                                    collapsible="false"
                                                    title="{!$Label.apttus_config2__selectedproducts}">
                                                   
                                <apex:outputPanel id="idPaginationPanel" 
                                                  styleClass="bNext"
                                                  layout="block" 
                                                  style="text-align: right;"
                                                  rendered="{!lineItemPaging.hasDisplayLines}">
                                    <font size="1px"> 
                                        <apex:outputPanel id="idNavSelectedPanel" 
                                                          styleClass="next"
                                                          layout="block" 
                                                          rendered="{!OR(lineItemPaging.hasNextPage,lineItemPaging.hasPreviousPage)}">
                                            <apex:outputPanel rendered="{!NOT(lineItemPaging.hasPreviousPage)}"
                                                              styleClass="greyedLink">&lt;{!$Label.IteratorPrevious}</apex:outputPanel>
                                            <apex:commandLink action="{!previousLineItemPage}" 
                                                              rendered="{!lineItemPaging.hasPreviousPage}" 
                                                              reRender="idSelectedProductsBlock">&lt;{!$Label.IteratorPrevious}</apex:commandLink>
                                            <span> | </span>
                                            <apex:outputText value="{!$Label.apttus_config2__page}: {!lineItemPaging.currentPageNumber} {!$Label.apttus_config2__outof} {!lineItemPaging.totalPages}" />
                                            <span> | </span>
                                            <apex:outputPanel rendered="{!NOT(lineItemPaging.hasNextPage)}"
                                                              styleClass="greyedLink">{!$Label.IteratorNext}&gt;</apex:outputPanel>
                                            <apex:commandLink action="{!nextLineItemPage}" 
                                                              rendered="{!lineItemPaging.hasNextPage}"
                                                              reRender="idSelectedProductsBlock">{!$Label.IteratorNext}&gt;</apex:commandLink>
                                        </apex:outputPanel>   
                                    </font>
                                </apex:outputPanel>                                                
                                <!-- Shopping Cart ProductInfo -->  
                                <apex:pageBlockTable value="{!lineItemPaging.displayLines}" 
                                                     var="lineItem"
                                                     width="100%" 
                                                     rules="rows" 
                                                     rowClasses="oddRow, evenRow"
                                                     rendered="{!lineItemPaging.hasDisplayLines}">
                                    <!-- Start Group By Search Attribute Value -->               
                                    <apex:column style="width: 50px; max-width: 100px; white-space: nowrap;" rendered="{!lineItem.isSearchItem}">
                                        <apex:outputPanel rendered="{!(lineItem.searchAttrSO.Apttus_Config2__ValueType__c == ValueTypeDefault)}"> 
                                            <apex:commandLink value="{!$Label.apttus_config2__guideme}"
                                                              action="{!gotoSearchDefault}"
                                                              onclick="onActionClick();" 
                                                              oncomplete="onActionComplete();"
                                                              style="color: blue; white-space: nowrap;"
                                                              reRender="idTopNavActions, idSelectedProductsBlock, idRulesBlock" >
                                            </apex:commandLink>
                                        </apex:outputPanel>
                                        <apex:outputPanel rendered="{!(lineItem.searchAttrSO.Apttus_Config2__ValueType__c == ValueTypeProduct)}"> 
                                            <apex:commandLink value="{!$Label.apttus_config2__guideme}"
                                                                action="{!gotoSearchProduct}"
                                                                onclick="onActionClick();" 
                                                                oncomplete="onActionComplete();"
                                                                style="color:blue;"
                                                                reRender="idTopNavActions, idSelectedProductsBlock, idRulesBlock" >
                                                    <apex:param name="param1" 
                                                            assignTo="{!selectProductId}"
                                                            value="{!lineItem.searchAttrSO.Apttus_Config2__BaseProductId__c}" />
                                            </apex:commandLink>
                                        </apex:outputPanel>
                                    </apex:column>               
                                    <apex:column rendered="{!lineItem.isSearchItem}"> 
                                        <apex:outputPanel rendered="{!(lineItem.searchAttrSO.Apttus_Config2__ValueType__c == ValueTypeDefault)}"> 
                                            <apex:outputText value="{!$Label.apttus_config2__searchdefault}"/>
                                        </apex:outputPanel>
                                        <apex:outputPanel rendered="{!(lineItem.searchAttrSO.Apttus_Config2__ValueType__c == ValueTypeProduct)}">
                                            <apex:outputField value="{!lineItem.searchAttrSO.Apttus_Config2__BaseProductId__c}"></apex:outputField> 
                                        </apex:outputPanel>             
                                    </apex:column>                                                   
                                    <!-- End of Group By Search Attribute Value --> 
                                    <!-- Start Selected Line Item -->                
                                    <apex:column style="width: 28px; max-width: 36px; text-align: center;" rendered="{!lineItem.isLineItem}">
                                        <apex:commandLink rerender="dummy">
                                            <apex:image url="{!$Resource.Apttus_Config2__Image_Remove}" 
                                                        alt="{!$Label.apttus_config2__remove}"
                                                        title="{!$Label.apttus_config2__remove}"
                                                        onclick="YAHOO.force.com.showRemoveConfirmation('{!lineItem.lineItemSO.Apttus_Config2__LineNumber__c}');return false;"/>
                                        </apex:commandLink> 
                                    </apex:column>
                                    <apex:column rendered="{!lineItem.isLineItem}">
                                        <apex:outputField value="{!lineItem.lineItemSO.Apttus_Config2__ProductId__c}"  
                                                         style="font-size: 10px; font-weight: bold;" />
                                    </apex:column>
                                    <!--                                
                                    <apex:column style="text-align: right"  rendered="{!lineItem.isLineItem}">
                                        <apex:outputField value="{!lineItem.lineItemSO.AdjustedPrice__c}" />
                                    </apex:column>
                                    -->
                                    <!-- End Selected Line Item -->
                                </apex:pageBlockTable>
                            </apex:pageBlockSection>
                        </apex:pageBlock>       
<!-- End Shopping Cart -->                  
        </td>
        </tr></table>
        
<!--  Javascript functions -->
        <apex:actionFunction name="invokeDoDeleteLineItem" 
                             action="{!doDeleteLineItem}"
                             rerender="idSelectedProductsBlock, idErrorMsg, idRulesBlock"
                             oncomplete="onActionComplete();">
            <apex:param name="firstParam" assignTo="{!lineItemLineNbr}" value="" />
        </apex:actionFunction>
        <apex:actionFunction name="invokeDoRemoveProduct" 
                             action="{!doRemoveItem}"
                             reRender="idErrorMsg, idRulesBlock, idSelectedProductsBlock" 
                             oncomplete="YAHOO.force.com.waitPanel.hide();">
        </apex:actionFunction>
        
        <apex:actionFunction name="invokeDoHideMessage"
                             action="{!doHideMessage}"
                             reRender="idErrorMsg"
                             oncomplete="YAHOO.force.com.waitPanel.hide();" >
            <apex:param name="param" assignTo="{!appliedActionInfoId}" value="" />
        </apex:actionFunction>
        
        <apex:actionFunction name="invokeDoProcessMoreRules" 
                             action="{!doProcessMoreRules2}" 
                             rerender="idSelectedProductsBlock, idErrorMsg, idRulesBlock"
                             oncomplete="onActionComplete();" />
         
        <!-- This is the content of the confirmation dialog -->
        <apex:outputPanel >
            <div id="confirmationPanel" style="display: none">
                <div class="hd">
                    <apex:outputText value="{!$Label.apttus_config2__removeconfirmation}" />
                </div> 
                <div class="bd">
                    <apex:outputText value="{!$Label.apttus_config2__removeproductmessage}" />
                </div>
                <div class="bd">
                    <apex:actionRegion >
                        <div style="text-align: center; padding-left: 4px;" >
                            <apex:commandButton value="{!$Label.apttus_config2__yes}"
                                                onclick="YAHOO.force.com.remove();"
                                                style="width: 50px;"   
                                                immediate="true" 
                                                oncomplete="YAHOO.force.com.confirmationPanel.hide();" />
                            <apex:commandButton value="{!$Label.apttus_config2__no}" 
                                                style="width: 50px;"   
                                                onclick="YAHOO.force.com.confirmationPanel.hide();return false;" />
                        </div>
                    </apex:actionRegion>
                </div>
            </div>
        </apex:outputPanel>

<!-- Begin Constraint Rule Alert -->        
<!-- This is the select choice dialog -->
        <apex:outputPanel >
            <div id="choicePanel" style="display: block">
                <apex:outputPanel id="idChoicePanel">
<!-- Start Choice Body -->

<!-- Start Rule Result -->      
<div id="aptRuleResult" style="{border: 2px solid gray; width: 100%;}">
                        <apex:pageBlock id="idRulesBlock">
                                    <apex:outputPanel rendered="{!NOT(ruleResult.isEmpty)}">
                                        <div style="width: 100%; padding-left: 10px; padding-left: 10px;">   
                                            <div style="width: 100%; max-height: 6em; color: black; border: 1px solid #990000; padding-left: 5px; font-weight: bold; overflow: auto;">
                                                <apex:outputText value="{!ruleResult.Message}"/>
                                            </div>  
                                        </div>
                                    </apex:outputPanel> 
                                    <div style="{!ruleResult.tableStyle}">
                                    <apex:pageBlockSection columns="1" 
                                                   collapsible="false"
                                                   showHeader="{!ruleResult.isShowMessage}"
                                                   rendered="{!NOT(ruleResult.isEmpty)}"
                                                   >
                                        <!-- Begin List of Products -->
                                                <apex:pageBlockTable value="{!ruleResult.products}"
                                                                     var="productSO"
                                                                     rules="rows" 
                                                                     rowClasses="oddRow, evenRow" 
                                                                     width="100%"
                                                                     columns="3"> 
                                                                     
                                                    <apex:column width="20%" >
                                                        <apex:commandButton value="{!$Label.apttus_config2__select}"
                                                                        action="{!doSelectProduct}" 
                                                                        onclick="onActionClick();" 
                                                                        oncomplete="onActionComplete();"
                                                                        rendered="{!ruleResult.isSelect}"
                                                                        reRender="idTopNavActions, idErrorMsg, idRulesBlock, idSelectedProductsBlock" >
                                                                <apex:param name="param1" 
                                                                            assignTo="{!selectedProductId}"
                                                                            value="{!productSO.Id}" />
                                                                <apex:param name="param2" 
                                                                            assignTo="{!ruleActionId}"
                                                                            value="{!ruleResult.ruleActionId}" />
																<apex:param name="ruleId" 
																			value="{!ruleResult.ruleId}" />
																<apex:param name="rulePrimaryNumber" 
																			value="{!ruleResult.PrimaryLineNumber}" />				
                                                                            
                                                        </apex:commandButton>
                                                        <apex:commandButton value="{!$Label.apttus_config2__remove}" 
                                                                        action="{!doRemoveProduct}" 
                                                                        onclick="onActionClick();" 
                                                                        oncomplete="onActionComplete();"
                                                                        rendered="{!ruleResult.isRemove}"
                                                                        reRender="idTopNavActions, idErrorMsg, idRulesBlock, idSelectedProductsBlock" >
                                                                <apex:param name="param1" 
                                                                            assignTo="{!selectedProductId}" 
                                                                            value="{!productSO.Id}" />
                                                                <apex:param name="param2" 
                                                                            assignTo="{!ruleActionId}"
                                                                            value="{!ruleResult.ruleActionId}" />
                                                        </apex:commandButton>
                                                    </apex:column>
                                                 
                                                    <apex:column >
                                                        <apex:outputText value="{!productSO.Name}"
                                                                         style="font-weight:bold;" />
                                                    </apex:column>
                                                
                                                </apex:pageBlockTable>
                                        <!-- End List of Products -->
                                        
                                    </apex:pageBlockSection>
                                    </div>
<!-- End Rule Result -->                                
                            
<!-- End Choice Body --> 
                    <div>
                        <div style="text-align: center;" >
                        <apex:outputPanel >
                            <!-- 
                            <input type="button" value="{!$Label.apttus_config2__cancel}" style="width: 60px;" onclick="YAHOO.force.com.choicePanel.hide();"/>
                            -->     
                            <apex:commandButton value="{!$Label.apttus_config2__cancel}"
                                                action="{!doIgnoreAction}" 
                                                onclick="onActionClick();" 
                                                oncomplete="onActionComplete();"
                                                reRender="idTopNavActions, idSelectedProductsBlock, idErrorMsg, idRulesBlock" >
                                                    <apex:param name="param1" 
                                                                assignTo="{!ignoreActionId}"
                                                                value="{!ruleResult.ruleActionId}" />
                                                    <apex:param name="rulePrimaryNumber" 
																value="{!ruleResult.PrimaryLineNumber}" />            
                            </apex:commandButton>       
                        </apex:outputPanel>
                                
                        </div>
                    </div> 
                              
                    </apex:pageBlock>
                    </div> 
                </apex:outputPanel>  
            </div>
        </apex:outputPanel> 
        
<!-- End of Constraint Rule Alert -->       

    </apex:form>
    
    <script type="text/javascript">
        //when the page is loaded with pending processing of rules
        var aptsOnload = function() {
            YAHOO.util.Event.onDOMReady(YAHOO.force.com.onDOMReady);
            if(needMoreProcessing){
                YAHOO.force.com.waitPanel.show();
                invokeDoProcessMoreRules();
            }else if(showChoicePanel){
                YAHOO.force.com.waitPanel.hide();
                YAHOO.force.com.choicePanel.show();
            }
        }
        
        //we have dependent pick list bug when window.onload is overridden
        window.onload = combineFunction(window.onload, aptsOnload);
        
    </script>
    
</apex:page>