<!-- 
    Apttus CPQ Approvals Management
    CartApprovalAction
     
    @2012-2014 Apttus Inc. All rights reserved.

 -->
<apex:page standardController="Apttus_Approval__Approval_Request__c"
	extensions="Apttus_Approval.ApprovalActionController2,Apttus_CQApprov.CartApprovalActionController">

	<apex:form >
        <apex:outputText value="{!Apttus_Approval__Approval_Request__c.Apttus_Approval__Approval_Process__c}" rendered="false" />
		
		<apex:pageBlock title="{!IF(isPageModeApproveRequest, $Label.apttus_approval__approverejectrequest, $Label.apttus_approval__addcommentstorequest)}">

			<apex:pageMessages />

			<apex:pageBlockButtons >

				<apex:commandButton action="{!doAttachFile}"
					value="{!$Label.apttus_approval__attachfile}"
					rendered="{!and(isPageModeApproveRequest, isUserAuthorized)}" />
				<apex:commandButton action="{!doApprove}"
					value="{!$Label.apttus_approval__approve}"
					rendered="{!and(isPageModeApproveRequest, isUserAuthorized)}" />
				<apex:commandButton action="{!doReject}"
					value="{!$Label.apttus_approval__reject}"
					rendered="{!AND(isPageModeApproveRequest, isUserAuthorized)}" />
				<apex:commandButton action="{!doAddComment}"
					value="{!$Label.apttus_approval__addcomment}" />
				<apex:commandButton action="{!doCancel}"
					value="{!$Label.apttus_approval__cancel}" />

			</apex:pageBlockButtons>

			<apex:pageBlockSection columns="1">

                <apex:pageBlockSectionItem rendered="{!NOT(ISBLANK(Apttus_Approval__Approval_Request__c.Apttus_Approval__SubmissionComment1__c))}" >
                    <apex:outputLabel for="idSubmissionComment1"
                                      value="{!$Label[submitComment1Label]}" />
                    <apex:outputText id="idSubmissionComment1"
                                     value="{!Apttus_Approval__Approval_Request__c.Apttus_Approval__SubmissionComment1__c}" />
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem rendered="{!NOT(ISBLANK(Apttus_Approval__Approval_Request__c.Apttus_Approval__SubmissionComment2__c))}" >
                    <apex:outputLabel for="idSubmissionComment2"
                                      value="{!$Label[submitComment2Label]}" />
                    <apex:outputText id="idSubmissionComment2"
                                     value="{!Apttus_Approval__Approval_Request__c.Apttus_Approval__SubmissionComment2__c}" />
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem rendered="{!NOT(ISBLANK(Apttus_Approval__Approval_Request__c.Apttus_Approval__SubmissionComment3__c))}" >
                    <apex:outputLabel for="idSubmissionComment3"
                                      value="{!$Label[submitComment3Label]}" />
                    <apex:outputText id="idSubmissionComment3"
                                     value="{!Apttus_Approval__Approval_Request__c.Apttus_Approval__SubmissionComment3__c}" />
                </apex:pageBlockSectionItem>

				<apex:outputField value="{!Apttus_Approval__Approval_Request__c.Apttus_Approval__Request_Comments__c}"
					style="font-weight:bold;" />

				<apex:inputField value="{!Apttus_Approval__Approval_Request__c.Apttus_Approval__Approver_Comments__c}"
					style="height:100px;width:400px;" />
			</apex:pageBlockSection>
			
			<apex:pageBlockSection columns="1"
				title="{!$ObjectType.Attachment.LabelPlural}"
				rendered="{!AND((arAttachments.size > 0), isUserAuthorized)}">

				<apex:pageBlockTable value="{!arAttachments}" var="arAttachment">

					<apex:column >
						<apex:facet name="header">{!$Label.apttus_approval__filename}</apex:facet>
						<apex:outputLink target="_blank" value="/{!arAttachment.Id}">{!arAttachment.Name}</apex:outputLink>
					</apex:column>
					<apex:column value="{!arAttachment.Description}" />
					<apex:column value="{!arAttachment.CreatedDate}" />
					<apex:column value="{!arAttachment.BodyLength}" />

				</apex:pageBlockTable>

			</apex:pageBlockSection>

		</apex:pageBlock>

	</apex:form>

</apex:page>