<!-- 
    Apttus Billing 
    InvoiceRunEdit
 
    @2013-2015 Apttus Inc. All rights reserved.
 -->
<apex:page standardController="Apttus_Billing__InvoiceRun__c" extensions="Apttus_Billing.InvoiceRunController" tabstyle="Apttus_Billing__InvoiceRun__c">
  <style>
    .headerRow .TableTitle {
       background-color: #F0F8FF !important;
       background-image: none !important; //This is needed if you want to overwrite the header background
       color: #CC0000 !important; 
       font-size:100% !important; 
    }
    div.hideCurrDate span.dateInput span.dateFormat{
       display:none;
    }
  </style>
  <script type="text/javascript">
    var invoiceRunType = '{!invoiceRun.Apttus_Billing__RunType__c}';
    //alert(invoiceRunType);
  </script>
  <apex:sectionHeader title="{!$ObjectType.Apttus_Billing__InvoiceRun__c.label} {!$Label.apttus_billing__edit}" subtitle="{!invoiceRun.Name}"/>
  <apex:form id="MainForm">
  <apex:pageMessages />
  <apex:pageBlock title="{!$ObjectType.Apttus_Billing__InvoiceRun__c.label} {!$Label.apttus_billing__detail}">
     <apex:actionFunction name="scheduleTypeChange" action="{!doRunTypeChange}" reRender="MainForm" />
     <apex:pageBlockButtons >
           <apex:commandButton id="saveBtn" value="{!$Label.apttus_billing__save}" action="{!saveInvoiceRun}" disabled="{!IF(invoiceRun.Apttus_Billing__RunType__c == 'Immediate', true, false)}" />
           <apex:commandButton id="saveAndNewBtn" value="{!$Label.apttus_billing__saveandnew}" action="{!saveAndNew}" disabled="{!IF(invoiceRun.Apttus_Billing__RunType__c == 'Immediate', true, false)}"/>
           <apex:commandButton id="cancelBtn" value="{!$Label.apttus_billing__cancel}" action="{!cancel}" />
     </apex:pageBlockButtons>
     <apex:pageBlockSection showHeader="false" columns="2">
         <apex:pageBlockSectionItem >
              <apex:outputlabel value="{!$ObjectType.Apttus_Billing__InvoiceRun__c.fields.Name.label}" />
              <apex:outputPanel >                
                <apex:inputField id="invrunname" value="{!invoiceRun.Name}"/>
                <script>document.getElementById('{!$Component.invrunname}').disabled = true; </script>
               </apex:outputPanel>
         </apex:pageBlockSectionItem>
         <apex:pageBlockSectionItem >
                <apex:outputlabel value="{!$ObjectType.Apttus_Billing__InvoiceRun__c.fields.Apttus_Billing__ScheduledJobId__c.label}" />
                <apex:outputText value="{!invoiceRun.Apttus_Billing__ScheduledJobId__c}"/>
         </apex:pageBlockSectionItem> 
     </apex:pageBlockSection>
     <apex:pageBlockSection id="idPredicatesSection" 
                                   title="{!$Label.apttus_billing__accountfiltercriteria}" 
                                   columns="1">
     <apex:tabPanel id="filterTabPanel" switchType="Ajax" value="{!activeTab}" >    
      <apex:tab id="idAccountFiltersTab" label="{!$ObjectType.Account.label}" >                                   
                <apex:pageBlockTable value="{!predicates}" 
                                     var="predicate" 
                                     columns="8" 
                                     rowClasses="oddRow,evenRow" >
                    
                    <apex:column width="5%" rendered="{!isAdvancedOptionsMode}" >
                        <apex:outputText id="idRowNum" value="{!predicate.RowNum}. " />
                    </apex:column>
                    <apex:column headerValue="{!$Label.apttus_billing__field}" width="25%" >
                        <apex:outputPanel styleClass="{!IF(predicate.FieldInError, 'errorRow', '')}" layout="block" >
                            <apex:selectList id="idField" size="1" value="{!predicate.FieldName}" >
                                <apex:selectOptions value="{!FieldItems}"></apex:selectOptions>
                            </apex:selectList>
                            <script>
                              if(invoiceRunType == 'Immediate')
                                document.getElementById('{!$Component.idField}').disabled = true;
                            </script>                            
                        </apex:outputPanel>
                    </apex:column>
                    <apex:column headerValue="{!$Label.apttus_billing__operator}" width="25%" >
                        <apex:outputPanel styleClass="{!IF(predicate.CompOperInError, 'errorRow', '')}" layout="block" >
                            <apex:selectList id="idCompOper" size="1" value="{!predicate.CompOper}" >
                                <apex:selectOptions value="{!compOperItems}"></apex:selectOptions>
                            </apex:selectList>
                            <script>
                             if(invoiceRunType == 'Immediate')
                                document.getElementById('{!$Component.idCompOper}').disabled = true;
                            </script>                            
                        </apex:outputPanel>
                    </apex:column>
                    <apex:column headerValue="{!$Label.apttus_billing__value}" width="25%" >
                        <apex:outputPanel styleClass="{!IF(predicate.FieldValueInError, 'errorRow', '')}" layout="block" >
                            <apex:inputText id="idFieldValue" size="25" value="{!predicate.FieldValue}" />
                            <script>
                             if(invoiceRunType == 'Immediate')
                                document.getElementById('{!$Component.idFieldValue}').disabled = true;
                            </script>                            
                        </apex:outputPanel>
                    </apex:column>
                    <apex:column width="5%" >
                        <apex:outputText id="idBoolOper" 
                                         value="{!predicate.BoolOper}" 
                                         rendered="{!NOT(isAdvancedOptionsMode) && NOT(ISBLANK(predicate.BoolOper))}" />
                                         
                        <apex:commandLink action="{!doAddRow}" 
                                          value="{!$Label.apttus_billing__add}" 
                                          reRender="idPredicatesSection, idAdvancedOptionsSection" 
                                          rendered="{!NOT(isAdvancedOptionsMode) && ISBLANK(predicate.BoolOper)}" />
                    </apex:column>
                    <apex:column width="5%" >
                    <apex:commandLink id="idDeleteRow" 
                                      action="{!doDeleteRow}" 
                                      value="{!$Label.apttus_billing__delete}" 
                                      reRender="idPredicatesSection, idAdvancedOptionsSection">
                        <apex:param name="rowNum" value="{!predicate.RowNum}" />          
                    </apex:commandLink>
                    </apex:column>
                    <apex:column width="10%" >
                        <apex:outputText value="{!predicate.ErrorMsg}" style="color:red;" />
                    </apex:column>
                   
                </apex:pageBlockTable>
                
            <apex:pageBlockSectionItem >
                    
            <apex:pageBlockSection id="idAdvancedOptionsSection" columns="1" collapsible="false" >
            
                <apex:commandLink id="idShowAdvancedOptions" 
                                  action="{!doShowAdvancedOptions}" 
                                  value="{!$Label.apttus_billing__advancedoptions}" 
                                  reRender="idAdvancedOptionsSection, idPredicatesSection" 
                                  rendered="{!NOT(isAdvancedOptionsMode)}" />
                
                <apex:outputPanel rendered="{!isAdvancedOptionsMode}">
                    <apex:commandLink id="idAddRow" 
                                      action="{!doAddRow}" 
                                      value="{!$Label.apttus_billing__addrow}" 
                                      reRender="idAdvancedOptionsSection, idPredicatesSection" />
                    <span>  </span>
                    <apex:commandLink id="idRemoveRow" 
                                      action="{!doRemoveRow}" 
                                      value="{!$Label.apttus_billing__removerow}" 
                                      reRender="idAdvancedOptionsSection, idPredicatesSection" 
                                      rendered="{!OkToRemoveRow}" />
                    <apex:outputPanel id="idRemoveRow2" styleClass="greyedLink" rendered="{!NOT(OkToRemoveRow)}" >{!$Label.apttus_billing__removerow}</apex:outputPanel>
                    <p/>    
                    <apex:commandLink id="idHideAdvancedOptions" 
                                      action="{!doHideAdvancedOptions}" 
                                      value="{!$Label.apttus_billing__clearadvancedoptions}" 
                                      reRender="idAdvancedOptionsSection, idPredicatesSection" />
                    <br/>
                    <apex:outputText value="{!$Label.apttus_billing__advancedfiltercondition}" />
                    <br/>
                    <apex:inputText id="idAdvancedOptions" size="80" value="{!advancedOptions}" />
                </apex:outputPanel>
                </apex:pageBlockSection>
                </apex:pageBlockSectionItem>
     </apex:tab>
     <apex:tab id="idAccountLocationFiltersTab" label="{!$ObjectType.Apttus_Config2__AccountLocation__c.label}">
                <apex:pageBlockTable value="{!childPredicates}" 
                                     var="childPredicate" 
                                     columns="8" 
                                     rowClasses="oddRow,evenRow" >
                    
                    <apex:column width="5%" rendered="{!isChildAdvancedOptionsMode}" >
                        <apex:outputText id="idRowNum" value="{!childPredicate.RowNum}. " />
                    </apex:column>
                    <apex:column headerValue="{!$Label.apttus_billing__field}" width="25%" >
                        <apex:outputPanel styleClass="{!IF(childPredicate.FieldInError, 'errorRow', '')}" layout="block" >
                            <apex:selectList id="idChildField" size="1" value="{!childPredicate.FieldName}" >
                                <apex:selectOptions value="{!childFieldItems}"></apex:selectOptions>
                            </apex:selectList>
                            <script>
                              if(invoiceRunType == 'Immediate')
                                document.getElementById('{!$Component.idChildField}').disabled = true;
                            </script>                            
                        </apex:outputPanel>
                    </apex:column>
                    <apex:column headerValue="{!$Label.apttus_billing__operator}" width="25%" >
                        <apex:outputPanel styleClass="{!IF(childPredicate.CompOperInError, 'errorRow', '')}" layout="block" >
                            <apex:selectList id="idChildCompOper" size="1" value="{!childPredicate.CompOper}" >
                                <apex:selectOptions value="{!compOperItems}"></apex:selectOptions>
                            </apex:selectList>
                            <script>
                             if(invoiceRunType == 'Immediate')
                                document.getElementById('{!$Component.idChildCompOper}').disabled = true;
                            </script>                             
                        </apex:outputPanel>
                    </apex:column>
                    <apex:column headerValue="{!$Label.apttus_billing__value}" width="25%" >
                        <apex:outputPanel styleClass="{!IF(childPredicate.FieldValueInError, 'errorRow', '')}" layout="block" >
                            <apex:inputText id="idChildFieldValue" size="25" value="{!childPredicate.FieldValue}" />
                            <script>
                             if(invoiceRunType == 'Immediate')
                                document.getElementById('{!$Component.idChildFieldValue}').disabled = true;
                            </script>                             
                        </apex:outputPanel>
                    </apex:column>
                    <apex:column width="5%" >
                        <apex:outputText id="idBoolOper" 
                                         value="{!childPredicate.BoolOper}" 
                                         rendered="{!NOT(isChildAdvancedOptionsMode) && NOT(ISBLANK(childPredicate.BoolOper))}" />
                                         
                        <apex:commandLink action="{!doAddChildRow}" 
                                          value="{!$Label.apttus_billing__add}" 
                                          reRender="idPredicatesSection, idChildAdvancedOptionsSection" 
                                          rendered="{!NOT(isChildAdvancedOptionsMode) && ISBLANK(childPredicate.BoolOper)}" />
                    </apex:column>
                    <apex:column width="5%" >
                    <apex:commandLink id="idDeleteChildRow" 
                                      action="{!doDeleteChildRow}" 
                                      value="{!$Label.apttus_billing__delete}" 
                                      reRender="idPredicatesSection, idChildAdvancedOptionsSection">
                        <apex:param name="childRowNum" value="{!childPredicate.RowNum}" />          
                    </apex:commandLink>
                    </apex:column>
                    <apex:column width="10%" >
                        <apex:outputText value="{!childPredicate.ErrorMsg}" style="color:red;" />
                    </apex:column>
                   
                </apex:pageBlockTable>
                
            <apex:pageBlockSectionItem >
                    
            <apex:pageBlockSection id="idChildAdvancedOptionsSection" columns="1" collapsible="false" >
            
                <apex:commandLink id="idShowChildAdvancedOptions" 
                                  action="{!doShowChildAdvancedOptions}" 
                                  value="{!$Label.apttus_billing__advancedoptions}" 
                                  reRender="idChildAdvancedOptionsSection, idPredicatesSection" 
                                  rendered="{!NOT(isChildAdvancedOptionsMode)}" />
                
                <apex:outputPanel rendered="{!isChildAdvancedOptionsMode}">
                    <apex:commandLink id="idAddChildRow" 
                                      action="{!doAddChildRow}" 
                                      value="{!$Label.apttus_billing__addrow}" 
                                      reRender="idChildAdvancedOptionsSection, idPredicatesSection" />
                    <span>  </span>
                    <apex:commandLink id="idRemoveChildRow" 
                                      action="{!doRemoveChildRow}" 
                                      value="{!$Label.apttus_billing__removerow}" 
                                      reRender="idChildAdvancedOptionsSection, idPredicatesSection" 
                                      rendered="{!OkToRemoveChildRow}" />
                    <apex:outputPanel id="idRemoveChildRow2" styleClass="greyedLink" rendered="{!NOT(OkToRemoveChildRow)}" >{!$Label.apttus_billing__removerow}</apex:outputPanel>
                    <p/>    
                    <apex:commandLink id="idHideChildAdvancedOptions" 
                                      action="{!doHideChildAdvancedOptions}" 
                                      value="{!$Label.apttus_billing__clearadvancedoptions}" 
                                      reRender="idChildAdvancedOptionsSection, idPredicatesSection" />
                    <br/>
                    <apex:outputText value="{!$Label.apttus_billing__advancedfiltercondition}" />
                    <br/>
                    <apex:inputText id="idChildAdvancedOptions" size="80" value="{!childAdvancedOptions}" />
                </apex:outputPanel>
                </apex:pageBlockSection>
                </apex:pageBlockSectionItem>     
     </apex:tab>
     <apex:tab id="idProductFiltersTab" label="{!$ObjectType.Product2.label}">
                <apex:pageBlockTable value="{!childPredicatesProd}" 
                                     var="prodPredicate" 
                                     columns="8" 
                                     rowClasses="oddRow,evenRow" >
                    
                    <apex:column width="5%" rendered="{!isChildAdvancedOptionsModeProd}" >
                        <apex:outputText id="idRowNum" value="{!prodPredicate.RowNum}. " />
                    </apex:column>
                    <apex:column headerValue="{!$Label.apttus_billing__field}" width="25%" >
                        <apex:outputPanel styleClass="{!IF(prodPredicate.FieldInError, 'errorRow', '')}" layout="block" >
                            <apex:selectList id="idProdField" size="1" value="{!prodPredicate.FieldName}" >
                                <apex:selectOptions value="{!childFieldItemsProd}"></apex:selectOptions>
                            </apex:selectList>
                            <script>
                              if(invoiceRunType == 'Immediate')
                                document.getElementById('{!$Component.idProdField}').disabled = true;
                            </script>                            
                        </apex:outputPanel>
                    </apex:column>
                    <apex:column headerValue="{!$Label.apttus_billing__operator}" width="25%" >
                        <apex:outputPanel styleClass="{!IF(prodPredicate.CompOperInError, 'errorRow', '')}" layout="block" >
                            <apex:selectList id="idProdCompOper" size="1" value="{!prodPredicate.CompOper}" >
                                <apex:selectOptions value="{!compOperItems}"></apex:selectOptions>
                            </apex:selectList>
                            <script>
                             if(invoiceRunType == 'Immediate')
                                document.getElementById('{!$Component.idProdCompOper}').disabled = true;
                            </script>                             
                        </apex:outputPanel>
                    </apex:column>
                    <apex:column headerValue="{!$Label.apttus_billing__value}" width="25%" >
                        <apex:outputPanel styleClass="{!IF(prodPredicate.FieldValueInError, 'errorRow', '')}" layout="block" >
                            <apex:inputText id="idProdFieldValue" size="25" value="{!prodPredicate.FieldValue}" />
                            <script>
                             if(invoiceRunType == 'Immediate')
                                document.getElementById('{!$Component.idProdFieldValue}').disabled = true;
                            </script>                            
                        </apex:outputPanel>
                    </apex:column>
                    <apex:column width="5%" >
                        <apex:outputText id="idBoolOper" 
                                         value="{!prodPredicate.BoolOper}" 
                                         rendered="{!NOT(isChildAdvancedOptionsModeProd) && NOT(ISBLANK(prodPredicate.BoolOper))}" />
                                         
                        <apex:commandLink action="{!doAddChildRowProd}" 
                                          value="{!$Label.apttus_billing__add}" 
                                          reRender="idPredicatesSection, idProductAdvancedOptionsSection" 
                                          rendered="{!NOT(isChildAdvancedOptionsModeProd) && ISBLANK(prodPredicate.BoolOper)}" />
                    </apex:column>
                    <apex:column width="5%" >
                    <apex:commandLink id="idDeleteChildRow" 
                                      action="{!doDeleteChildRowProd}" 
                                      value="{!$Label.apttus_billing__delete}" 
                                      reRender="idPredicatesSection, idProductAdvancedOptionsSection">
                        <apex:param name="childRowNumProd" value="{!prodPredicate.RowNum}" />          
                    </apex:commandLink>
                    </apex:column>
                    <apex:column width="10%" >
                        <apex:outputText value="{!prodPredicate.ErrorMsg}" style="color:red;" />
                    </apex:column>
                   
                </apex:pageBlockTable>
                
            <apex:pageBlockSectionItem >
                    
            <apex:pageBlockSection id="idProductAdvancedOptionsSection" columns="1" collapsible="false" >
            
                <apex:commandLink id="idShowProductAdvancedOptions" 
                                  action="{!doShowChildAdvancedOptionsProd}" 
                                  value="{!$Label.apttus_billing__advancedoptions}" 
                                  reRender="idProductAdvancedOptionsSection, idPredicatesSection" 
                                  rendered="{!NOT(isChildAdvancedOptionsModeProd)}" />
                
                <apex:outputPanel rendered="{!isChildAdvancedOptionsModeProd}">
                    <apex:commandLink id="idAddProductRow" 
                                      action="{!doAddChildRowProd}" 
                                      value="{!$Label.apttus_billing__addrow}" 
                                      reRender="idProductAdvancedOptionsSection, idPredicatesSection" />
                    <span>  </span>
                    <apex:commandLink id="idRemoveProductRow" 
                                      action="{!doRemoveChildRowProd}" 
                                      value="{!$Label.apttus_billing__removerow}" 
                                      reRender="idProductAdvancedOptionsSection, idPredicatesSection" 
                                      rendered="{!OkToRemoveChildRowProd}" />
                    <apex:outputPanel id="idRemoveChildRow2" styleClass="greyedLink" rendered="{!NOT(OkToRemoveChildRowProd)}" >{!$Label.apttus_billing__removerow}</apex:outputPanel>
                    <p/>    
                    <apex:commandLink id="idHideProductAdvancedOptions" 
                                      action="{!doHideChildAdvancedOptionsProd}" 
                                      value="{!$Label.apttus_billing__clearadvancedoptions}" 
                                      reRender="idProductAdvancedOptionsSection, idPredicatesSection" />
                    <br/>
                    <apex:outputText value="{!$Label.apttus_billing__advancedfiltercondition}" />
                    <br/>
                    <apex:inputText id="idProductAdvancedOptions" size="80" value="{!childAdvancedOptionsProd}" />
                </apex:outputPanel>
                </apex:pageBlockSection>
                </apex:pageBlockSectionItem>     
     </apex:tab>     
     </apex:tabPanel> 
    </apex:pageBlockSection>
     <apex:pageBlockSection title="{!$Label.apttus_billing__processingoptions}" columns="2" collapsible="true">
        <apex:pageblocksectionItem >
           <apex:outputlabel value="{!$ObjectType.Apttus_Billing__InvoiceRun__c.fields.Apttus_Billing__OverrideTemplate__c.label}" />
           <apex:outputPanel >               
              <!-- <apex:inputField id="ovridetmplt" value="{!invoiceRun.OverrideTemplate__c}"/>  -->
              <apex:selectList id="ovridetmplt" value="{!selectedOverrideTemplate}" size="1">
			  	<apex:selectOptions value="{!OverrideTemplateOptions}"></apex:selectOptions>
			  </apex:selectList>
              <script>
               if(invoiceRunType == 'Immediate')
                 document.getElementById('{!$Component.ovridetmplt}').disabled = true;
              </script>              
              <!--<script>document.getElementById('{!$Component.ovridetmplt}').disabled = true; </script>-->
           </apex:outputPanel>
        </apex:pageblocksectionItem>
        <!-- <apex:pageBlockSectionItem rendered="{!invoiceRun.Apttus_Billing__AutoApproveInvoices__c}">
          <apex:outputLabel value=" "/>
          <apex:outputPanel >&nbsp;</apex:outputPanel>
        </apex:pageBlockSectionItem> -->        
        <apex:pageblocksectionItem >
           <apex:outputlabel value="{!$ObjectType.Apttus_Billing__InvoiceRun__c.fields.Apttus_Billing__AutoApproveInvoices__c.label}" />
           <apex:outputPanel >                            
              <apex:inputField id="autoapprove_invoices" value="{!invoiceRun.Apttus_Billing__AutoApproveInvoices__c}"/>             
              <script>document.getElementById('{!$Component.autoapprove_invoices}').disabled = true; </script>
           </apex:outputPanel> 
        </apex:pageblocksectionItem>
        <apex:pageBlockSectionItem rendered="{!invoiceRun.Apttus_Billing__AutoApproveInvoices__c}">
           <apex:outputlabel value="{!$Label.apttus_billing__autoapprovethreshold}" />
           <apex:outputPanel >
              <apex:inputField id="autoApprvThresholdOperator" value="{!invoiceRun.Apttus_Billing__AutoApproveOperator__c}"/>&nbsp;
              <apex:inputField id="autoApprvThresholdAmt" value="{!invoiceRun.Apttus_Billing__AutoApproveAmount__c}"/>
              <script>document.getElementById('{!$Component.autoApprvThresholdOperator}').disabled = true; </script>
              <script>document.getElementById('{!$Component.autoApprvThresholdAmt}').disabled = true; </script>
           </apex:outputPanel>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem rendered="{!invoiceRun.Apttus_Billing__AutoApproveInvoices__c}">
           <apex:outputlabel value="{!$ObjectType.Apttus_Billing__InvoiceRun__c.fields.Apttus_Billing__AutoSendInvoiceEmail__c.label}" />
           <apex:outputPanel >
              <apex:inputField id="autoSendEmailOptn" value="{!invoiceRun.Apttus_Billing__AutoSendInvoiceEmail__c}"/>
              <script>document.getElementById('{!$Component.autoSendEmailOptn}').disabled = true; </script>              
           </apex:outputPanel>
        </apex:pageBlockSectionItem>
        <apex:pageblocksectionItem >
           <apex:outputlabel value="{!$ObjectType.Apttus_Billing__InvoiceRun__c.fields.Apttus_Billing__AutoApproveCreditMemos__c.label}" />
           <apex:outputPanel >                            
              <apex:inputField id="autoapprove_creditmemos" value="{!invoiceRun.Apttus_Billing__AutoApproveCreditMemos__c}"/>             
              <script>document.getElementById('{!$Component.autoapprove_creditmemos}').disabled = true; </script>
           </apex:outputPanel> 
        </apex:pageblocksectionItem>
        <apex:pageBlockSectionItem rendered="{!invoiceRun.Apttus_Billing__AutoApproveCreditMemos__c}">
           <apex:outputlabel value="{!$ObjectType.Apttus_Billing__InvoiceRun__c.fields.Apttus_Billing__AutoSendCreditMemoEmail__c.label}" />
           <apex:outputPanel >
              <apex:inputField id="autoSendCMEmailOptn" value="{!invoiceRun.Apttus_Billing__AutoSendCreditMemoEmail__c}"/>
              <script>document.getElementById('{!$Component.autoSendCMEmailOptn}').disabled = true; </script>              
           </apex:outputPanel>
        </apex:pageBlockSectionItem>                                
        <apex:pageblocksectionItem >
           <apex:outputlabel value="{!$ObjectType.Apttus_Billing__InvoiceRun__c.fields.Apttus_Billing__SplitInvoicesByOrder__c.label}" />
           <apex:outputPanel >                            
              <apex:inputField id="split_invoices" value="{!invoiceRun.Apttus_Billing__SplitInvoicesByOrder__c}"/>             
              <script>document.getElementById('{!$Component.split_invoices}').disabled = true; </script>
           </apex:outputPanel> 
        </apex:pageblocksectionItem>        
        <apex:pageBlockSectionItem >
           <apex:outputlabel value="{!$Label.apttus_billing__suppressinvoices}" />
           <apex:outputPanel >
              <apex:inputField id="invThresholdOperator" value="{!invoiceRun.Apttus_Billing__SuppressInvoicesOperator__c}"/>&nbsp;
              <apex:inputField id="invThresholdAmt" value="{!invoiceRun.Apttus_Billing__SuppressInvoicesAmount__c}"/>
              <script>document.getElementById('{!$Component.invThresholdOperator}').disabled = true; </script>
              <script>document.getElementById('{!$Component.invThresholdAmt}').disabled = true; </script>
           </apex:outputPanel>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
          <apex:outputlabel value="{!$ObjectType.Apttus_Billing__InvoiceRun__c.fields.Apttus_Billing__CreditMemoCreationOption__c.label}" />
          <apex:outputPanel id="cmCreateOptPnl" layout="block">
                <apex:selectList style="margin-bottom:4px;" value="{!invoiceRun.Apttus_Billing__CreditMemoCreationOption__c}" disabled="true" size="1" multiselect="false">
                   <apex:selectOptions value="{!creditMemoCreationOptions}"/>
                </apex:selectList>            
          </apex:outputPanel>       
        </apex:pageBlockSectionItem>                     
     </apex:pageBlockSection>  
     <apex:pageBlockSection id="customOptions" title="{!$Label.apttus_billing__customoptions}" columns="2" collapsible="true" rendered="{!invoiceFilterCallBackClass != ''}">
     	<apex:outputField value="{!invoiceRun.Apttus_Billing__Category__c}"/>
     	<apex:outputField value="{!invoiceRun.Apttus_Billing__SubCategory__c}"/>
     </apex:pageBlockSection>
     <apex:pageBlockSection title="{!$Label.apttus_billing__schedulingoptions}" columns="2" collapsible="true">
       <apex:pageblocksectionItem >
          <apex:outputlabel value="{!$ObjectType.Apttus_Billing__InvoiceRun__c.fields.Apttus_Billing__RunType__c.label}" />
          <apex:selectRadio style="margin-bottom:4px;" value="{!invoiceRun.Apttus_Billing__RunType__c}" disabled="true">
             <apex:actionSupport event="onchange" action="{!doRunTypeChange}"  rerender="MainForm"/>
             <apex:selectOptions value="{!runTypeOptions}"/>
          </apex:selectRadio>
       </apex:pageblocksectionItem>
       <apex:pageBlockSectionItem >
         <apex:outputLabel value=" "/>
         <apex:outputPanel >&nbsp;</apex:outputPanel>
       </apex:pageBlockSectionItem>
       <apex:pageblocksectionItem rendered="{!invoiceRun.Apttus_Billing__RunType__c == 'Scheduled'}">
          <apex:outputlabel value="{!$ObjectType.Apttus_Billing__InvoiceRun__c.fields.Apttus_Billing__ScheduleType__c.label}" />
          <apex:outputPanel layout="block">
                <apex:inputField id="schduleType" value="{!invoiceRun.Apttus_Billing__ScheduleType__c}"/>
                <script>document.getElementById('{!$Component.schduleType}').disabled = true; </script>
          </apex:outputPanel>
       </apex:pageBlockSectionItem>
       <apex:pageBlockSectionItem rendered="{!invoiceRun.Apttus_Billing__RunType__c == 'Scheduled'}">
          <apex:outputlabel value="{!$Label.apttus_billing__preferredstarttime}" />
          <apex:outputPanel id="prefStart" layout="block">   
             <apex:inputField id="prefStartHour" value="{!invoiceRun.Apttus_Billing__PreferredStartHour__c}"/>&nbsp;
             <apex:inputField id="prefStartMinute" value="{!invoiceRun.Apttus_Billing__PreferredStartMinute__c}"/>
             <script>document.getElementById('{!$Component.prefStartHour}').disabled = true; </script>  
             <script>document.getElementById('{!$Component.prefStartMinute}').disabled = true; </script>
          </apex:outputPanel>
       </apex:pageBlockSectionItem>       
       <apex:pageBlockSectionItem rendered="{!(invoiceRun.Apttus_Billing__ScheduleType__c == 'Weekly' && invoiceRun.Apttus_Billing__RunType__c == 'Scheduled')}">
          <apex:outputlabel value="{!$ObjectType.Apttus_Billing__InvoiceRun__c.fields.Apttus_Billing__WeekDay__c.label}" />
          <apex:outputPanel id="weekDays" layout="block">
                <apex:selectCheckboxes value="{!choices}" disabled="true" layout="PageDirection">
                   <apex:selectOptions value="{!weekDayOptions}"/>
                </apex:selectCheckboxes>            
          </apex:outputPanel>       
       </apex:pageBlockSectionItem>
       <apex:pageBlockSectionItem rendered="{!(invoiceRun.Apttus_Billing__ScheduleType__c == 'Monthly by date' && invoiceRun.Apttus_Billing__RunType__c == 'Scheduled')}">
          <apex:outputlabel value="{!$Label.apttus_billing__schedule}" />
          <apex:outputPanel id="monthlyByDate" layout="block">
             <apex:outputlabel value="{!$Label.apttus_billing__onthe} " />
             <apex:inputField id="monthlyDates" value="{!invoiceRun.Apttus_Billing__MonthlyDate__c}"/>
             <apex:outputlabel value=" {!$Label.apttus_billing__day} {!$Label.apttus_billing__everymonth}" />
             <script>document.getElementById('{!$Component.monthlyDates}').disabled = true; </script>           
          </apex:outputPanel>
       </apex:pageBlockSectionItem>
       <apex:pageBlockSectionItem rendered="{!(invoiceRun.Apttus_Billing__ScheduleType__c == 'Monthly by day' && invoiceRun.Apttus_Billing__RunType__c == 'Scheduled')}">
          <apex:outputlabel value="{!$Label.apttus_billing__schedule}" />
          <apex:outputPanel id="monthlyByDay" layout="block">
             <apex:outputlabel value="{!$Label.apttus_billing__onthe} " />
             <apex:inputField id="monthlyWeeks" value="{!invoiceRun.Apttus_Billing__MonthlyWeek__c}"/>
             <apex:inputField id="monthlyWeekDays" value="{!invoiceRun.Apttus_Billing__MonthlyWeekDay__c}"/>
             <apex:outputlabel value=" {!$Label.apttus_billing__everymonth}" />
             <script>document.getElementById('{!$Component.monthlyWeeks}').disabled = true; </script>  
             <script>document.getElementById('{!$Component.monthlyWeekDays}').disabled = true; </script>            
          </apex:outputPanel>          
       </apex:pageBlockSectionItem>
       <apex:pageBlockSectionItem rendered="{!invoiceRun.Apttus_Billing__RunType__c == 'Scheduled'}">
         <apex:outputLabel value=" "/>
         <apex:outputPanel >&nbsp;</apex:outputPanel>
       </apex:pageBlockSectionItem>
       <apex:pageblocksectionItem rendered="{!(invoiceRun.Apttus_Billing__RunType__c == 'Immediate' || invoiceRun.Apttus_Billing__RunType__c == 'Scheduled')}">
          <apex:outputlabel value="{!$ObjectType.Apttus_Billing__InvoiceRun__c.fields.Apttus_Billing__InvoiceDateType__c.label}" />
          <apex:outputPanel id="invDateType" layout="block">             
                <apex:selectList style="margin-bottom:4px;" value="{!invoiceRun.Apttus_Billing__InvoiceDateType__c}" onchange="invoiceDateTypeChange()" disabled="true" size="1" multiselect="false">
                   <apex:selectOptions value="{!invoiceDateTypeOptions}"/>
                </apex:selectList>
          </apex:outputPanel>
       </apex:pageBlockSectionItem>       
       <apex:pageBlockSectionItem >
         <apex:outputLabel value=" "/>
         <apex:outputPanel >&nbsp;</apex:outputPanel>
       </apex:pageBlockSectionItem>       
       <apex:pageBlockSectionItem rendered="{!(invoiceRun.Apttus_Billing__RunType__c == 'Immediate' && invoiceRun.Apttus_Billing__InvoiceDateType__c == 'User Defined')}">
           <apex:outputlabel value="{!$ObjectType.Apttus_Billing__InvoiceRun__c.fields.Apttus_Billing__InvoiceDate__c.label}" />   
           <apex:outputPanel styleClass="hideCurrDate" layout="block">            
             <apex:inputField id="invdate" value="{!invoiceRun.Apttus_Billing__InvoiceDate__c}"/>
             <script>document.getElementById('{!$Component.invdate}').disabled = true; </script>            
           </apex:outputPanel>
       </apex:pageBlockSectionItem>       
       <apex:pageBlockSectionItem rendered="{!invoiceRun.Apttus_Billing__RunType__c == 'Immediate'}">
          <apex:outputlabel value="{!$ObjectType.Apttus_Billing__InvoiceRun__c.fields.Apttus_Billing__ProcessthruDate__c.label}" />
          <apex:outputPanel styleClass="hideCurrDate" layout="block">            
             <apex:inputField id="processthrudate" value="{!invoiceRun.Apttus_Billing__ProcessthruDate__c}"/>
             <script>document.getElementById('{!$Component.processthrudate}').disabled = true; </script> 
          </apex:outputPanel>
       </apex:pageBlockSectionItem>     
       <apex:pageBlockSectionItem rendered="{!(invoiceRun.Apttus_Billing__ScheduleType__c == 'Weekly' && invoiceRun.Apttus_Billing__InvoiceDateType__c == 'User Defined' && invoiceRun.Apttus_Billing__RunType__c == 'Scheduled')}">
          <apex:outputlabel value="{!$ObjectType.Apttus_Billing__InvoiceRun__c.fields.Apttus_Billing__InvoiceDateOffset__c.label}" />
          <apex:outputPanel id="invDaysOffset" layout="block">
             <apex:inputField id="invDateOffset" value="{!invoiceRun.Apttus_Billing__InvoiceDateOffset__c}"/>
             <apex:outputlabel value=" {!$Label.apttus_billing__days}" />
             <script>document.getElementById('{!$Component.invDateOffset}').disabled = true; </script>           
          </apex:outputPanel>
       </apex:pageBlockSectionItem>
       <apex:pageBlockSectionItem rendered="{!(invoiceRun.Apttus_Billing__ScheduleType__c == 'Weekly' && invoiceRun.Apttus_Billing__RunType__c == 'Scheduled')}">
          <apex:outputlabel value="{!$ObjectType.Apttus_Billing__InvoiceRun__c.fields.Apttus_Billing__ProcessthruDateOffset__c.label}" />
          <apex:outputPanel id="procthruDaysOffset" layout="block">
             <apex:inputField id="procthruDateOffset" value="{!invoiceRun.Apttus_Billing__ProcessthruDateOffset__c}"/>
             <apex:outputlabel value=" {!$Label.apttus_billing__days}" />
             <script>document.getElementById('{!$Component.procthruDateOffset}').disabled = true; </script>           
          </apex:outputPanel>
       </apex:pageBlockSectionItem>
       <apex:pageBlockSectionItem rendered="{!((invoiceRun.ScheduleType__c == 'Monthly by day' || invoiceRun.ScheduleType__c == 'Monthly by date')
                                                             && invoiceRun.InvoiceDateType__c == 'User Defined' && invoiceRun.RunType__c == 'Scheduled')}">
          <apex:outputlabel value="{!$ObjectType.Apttus_Billing__InvoiceRun__c.fields.Apttus_Billing__InvoiceDate__c.label}" />
          <apex:outputPanel id="invDateMonthByDay" layout="block">
             <apex:outputlabel value="{!$Label.apttus_billing__the} " />
             <apex:inputField id="monthlyInvDay" value="{!invoiceRun.Apttus_Billing__MonthlyInvoiceDay__c}"/>
             <apex:outputlabel value=" {!$Label.apttus_billing__day} {!$Label.apttus_billing__of} "/>
             <apex:inputField id="invDayMonthOpt" value="{!invoiceRun.Apttus_Billing__InvoiceDayMonthOption__c}"/>
             <apex:outputlabel value=" {!$Label.apttus_billing__month}" />
             <script>document.getElementById('{!$Component.monthlyInvDay}').disabled = true; </script>  
             <script>document.getElementById('{!$Component.invDayMonthOpt}').disabled = true; </script>            
          </apex:outputPanel>          
       </apex:pageBlockSectionItem> 
       <apex:pageBlockSectionItem rendered="{!((invoiceRun.ScheduleType__c == 'Monthly by day' || invoiceRun.ScheduleType__c == 'Monthly by date')
                                                                                                          && invoiceRun.RunType__c == 'Scheduled')}">
          <apex:outputlabel value="{!$ObjectType.Apttus_Billing__InvoiceRun__c.fields.Apttus_Billing__ProcessthruDate__c.label}" />
          <apex:outputPanel id="processthruDateMonthByDay" layout="block">
             <apex:outputlabel value="{!$Label.apttus_billing__the} " />
             <apex:inputField id="monthlyProcessthruDay" value="{!invoiceRun.Apttus_Billing__MonthlyProcessthruDay__c}"/>
             <apex:outputlabel value=" {!$Label.apttus_billing__day} {!$Label.apttus_billing__of} "/>
             <apex:inputField id="processthruDayMonthOpt" value="{!invoiceRun.Apttus_Billing__ProcessthruDayMonthOption__c}"/>
             <apex:outputlabel value=" {!$Label.apttus_billing__month}" />
             <script>document.getElementById('{!$Component.monthlyProcessthruDay}').disabled = true; </script>  
             <script>document.getElementById('{!$Component.processthruDayMonthOpt}').disabled = true; </script>            
          </apex:outputPanel>          
       </apex:pageBlockSectionItem> 
       <apex:pageBlockSectionItem rendered="{!(invoiceRun.Apttus_Billing__RunType__c == 'Scheduled' && NOT(invoiceRun.Apttus_Billing__InvoiceDateType__c == 'User Defined'))}">
         <apex:outputLabel value=" "/>
         <apex:outputPanel >&nbsp;</apex:outputPanel>
       </apex:pageBlockSectionItem>                                      
       <apex:pageBlockSectionItem rendered="{!invoiceRun.Apttus_Billing__RunType__c == 'Scheduled'}">
          <apex:outputlabel value="{!$ObjectType.Apttus_Billing__InvoiceRun__c.fields.Apttus_Billing__PeriodStartDate__c.label}" />
          <apex:outputPanel styleClass="hideCurrDate" id="periodStart" layout="block">            
             <apex:inputField id="periodStartDate" value="{!invoiceRun.Apttus_Billing__PeriodStartDate__c}"/>
             <script>document.getElementById('{!$Component.periodStartDate}').disabled = true; </script> 
          </apex:outputPanel>
       </apex:pageBlockSectionItem>
       <apex:pageBlockSectionItem rendered="{!invoiceRun.Apttus_Billing__RunType__c == 'Scheduled'}">
           <apex:outputlabel value="{!$ObjectType.Apttus_Billing__InvoiceRun__c.fields.Apttus_Billing__PeriodEndDate__c.label}" />   
           <apex:outputPanel styleClass="hideCurrDate" id="periodEnd" layout="block">            
             <apex:inputField id="periodEndDate" value="{!invoiceRun.Apttus_Billing__PeriodEndDate__c}"/>
             <script>document.getElementById('{!$Component.periodEndDate}').disabled = true; </script>            
           </apex:outputPanel>
       </apex:pageBlockSectionItem>            
     </apex:pageBlockSection>     
  </apex:pageBlock> 
  </apex:form> 
</apex:page>