<!-- 
    Apttus Billing 
    InvoiceBulkCancel
 
    @2013-2015 Apttus Inc. All rights reserved.
 -->
<apex:page standardController="Apttus_Billing__Invoice__c" extensions="Apttus_Billing.InvoiceSetController" recordSetVar="invs" action="{!selectedInvoices}" tabstyle="Apttus_Billing__Invoice__c">
   <apex:form >
       <apex:pageBlock title="{!$Label.apttus_billing__cancel} {!$Label.apttus_billing__selected} {!$ObjectType.Apttus_Billing__Invoice__c.labelplural}">
            <apex:pageMessages escape="false"/>
            <apex:pageBlockButtons >
                <apex:commandButton action="{!cancelInvoices}" value="{!$Label.apttus_billing__confirm}" disabled="{!IF(candidateInvoiceSize > 0, false, true)}"/>
                <apex:commandButton id="cancelBtn" value="{!$Label.apttus_billing__cancel}" action="{!cancel}" />
            </apex:pageBlockButtons>
            <apex:pageBlockTable value="{!selected}" var="inv">
                <apex:column value="{!inv.Name}"/>
                <apex:column value="{!inv.Apttus_Billing__InvoiceDate__c}"/>
                <apex:column value="{!inv.Apttus_Billing__Status__c}"/>
                <apex:column value="{!inv.Apttus_Billing__BillToAccountId__c}"/> 
                <apex:column value="{!inv.Apttus_Billing__TotalInvoiceAmount__c}"/>
                <apex:column value="{!inv.Apttus_Billing__TotalTaxAmount__c}"/>                 
            </apex:pageBlockTable> 
        </apex:pageBlock>
    </apex:form>    
</apex:page>