<!-- 
    Apttus Billing
    SetLocationInvoiceStatementTemplate
     
    @2014-2016 Apttus Inc. All rights reserved.

 -->
<apex:page standardController="Apttus_Config2__AccountLocation__c" tabStyle="Apttus_Config2__AccountLocation__c" extensions="Apttus_Billing.LocationInvcEmailTemplateSetupController">
   <apex:sectionHeader title="{!$ObjectType.Apttus_Config2__AccountLocation__c.label}" subtitle="{!$Label.apttus_billing__setup} {!$ObjectType.Apttus_Config2__AccountLocation__c.fields.Apttus_Config2__DefaultInvoiceStatementTemplate__c.label}"/>
   <apex:form id="MainForm">
   <apex:pageMessages /> 
     <apex:pageBlock id="blngLocInvStmtTmpltPB" title="{!$ObjectType.Apttus_Config2__AccountLocation__c.fields.Apttus_Config2__DefaultInvoiceStatementTemplate__c.label}">
         <apex:pageBlockButtons >
               <apex:commandButton id="saveBtn" value="{!$Label.apttus_billing__save}" action="{!saveDefaultInvStmtTemplate}"/>
               <apex:commandButton id="cancelBtn" value="{!$Label.apttus_billing__cancel}" action="{!cancel}" />
         </apex:pageBlockButtons>
         <apex:pageBlockSection showHeader="false" columns="2">
            <apex:pageBlockSectionItem >
            <apex:outputlabel value="{!$ObjectType.Apttus_Config2__AccountLocation__c.fields.Apttus_Config2__DefaultInvoiceStatementTemplate__c.label}" /> 
            <apex:outputPanel > 
               <apex:selectList value="{!selectedDefaultInvStmtTmplt}" size="1" multiselect="false">
                  <apex:selectOptions value="{!defaultInvoiceStmtTemplates}"/>
               </apex:selectList>         
            </apex:outputPanel>
            </apex:pageBlockSectionItem>
         </apex:pageBlockSection> 
     </apex:pageBlock>
   </apex:form> 
</apex:page>